In [20]:
var nums = Seq(5,10,20,22,30,21)

In [21]:
nums

List(5, 10, 20, 22, 30, 21)

In [24]:
var nums2 = sc.parallelize(nums)
nums2

ParallelCollectionRDD[7] at parallelize at <console>:19

In [43]:
var nums3 = nums2.zipWithIndex.map( t => ("key " + t._2 , t._1 ))

In [44]:
nums3.collect foreach println

(key 0,5)
(key 1,10)
(key 2,20)
(key 3,22)
(key 4,30)
(key 5,21)

In [14]:
%%Cql create table if not exists steve.t10 (key text primary key, cnt counter)

In [39]:
%%Cql truncate steve.t10

In [41]:
nums3.saveToCassandra("steve","t10")

In [45]:
%%Cql select key, token(key), cnt from steve.t10

key,token(key),cnt
key 4,-8320937717420956272,30
key 2,-8227520807694268405,20
key 3,-5363805189090417582,22
key 5,-5208924055481983381,21
key 1,5782037099116178437,10
key 0,6629887237610930930,5